.pageContainer {
    display: flex;
    gap: 1rem;
}

.pageContainer .leftSide {
    flex: 4;
}

.pageContainer .rightSide {
    background: linear-gradient(90deg, #F0F2F4, transparent);
    border-left: 4px solid #de411b;
    flex: 3;
    padding: 0.5rem 1rem;
}

.tag {
    background: #de411b;
    border-radius: 2px;
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    .pageContainer {
      display: block;
    }
}